.nav{
	margin:0px;
	padding:0px;
	margin-left:30px;
	display:inline-block;
	background-color:grey;
}
.nav li{
	border:2px solid black;
	margin:0px;
	padding:42px;
	padding-top:0px;
	padding-bottom:0px;
	list-style-type: none;
	display:inline-block;
}
.nav li a{
	color:white;
	text-decoration:none;
}
.nav li:hover{
	background-color: #0F0E0E;
}

.side{
margin-left:30px;
padding:0px;
}
.side>li{
	list-style-type: none;
	border:5px ridge #0D0C0C;
	width:120px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:5px;
	cursor: pointer;
	border-radius:50%;
	color:black;
	background-color:grey;
	box-shadow: 1px 1px 2px #C2B6B6;
	display:none;
}
.side>li:hover{
	color:black;
	background:white;
}

.circle {
	position: fixed;
	top: 0px;
	left: 415px;
	height: 500px;
	width: 500px;
	border: 10px solid #bdc3c7;
	border-bottom: 10px solid green;
	margin: 50px auto;
	border-radius: 50%;
	animation: cir 1s linear infinite;
}

body{
	background:linear-gradient(black,#222020);
	background-size: cover;
}

@keyframes cir {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.topleft {
	height: 30px;
	width: 200px;
	box-shadow: 1px 3px 10px grey;
	transform: rotate(45deg);
	position: fixed;
	top: 189px;
	left: 467px;
	animation: sidetl 1s linear infinite;
}

.top {
	height: 30px;
	width: 200px;
	border: 5px solid grey;
	transform: rotate(-90deg);
	position: fixed;
	top: 140px;
	left: 570px;
	animation: side1 1s linear infinite;
}

.topright {
	height: 30px;
	width: 200px;
	box-shadow: 1px 3px 10px grey;
	transform: rotate(130deg);
	position: fixed;
	top: 185px;
	left: 675px;
	animation: sidetr 1s linear infinite;
}

.left {
	height: 30px;
	width: 200px;
	border: 5px solid grey;
	transform: rotate(-180deg);
	position: fixed;
	top: 290px;
	left: 423px;
	animation: side1 1s linear infinite;
}

.right {
	height: 30px;
	width: 200px;
	border: 5px solid grey;
	transform: rotate(0deg);
	position: fixed;
	top: 290px;
	left: 720px;
	animation: side1 1s linear infinite;
}

.bottomleft {
	height: 30px;
	width: 200px;
	box-shadow: 1px 3px 10px grey;
	transform: rotate(-45deg);
	position: fixed;
	top: 395px;
	left: 468px;
	animation: sidebl 1s linear infinite;
}

.bottom {
	height: 30px;
	width: 200px;
	border: 5px solid grey;
	transform: rotate(90deg);
	position: fixed;
	top: 435px;
	left: 570px;
	animation: side1 1s linear infinite;
}

.bottomright {
	height: 30px;
	width: 200px;
	box-shadow: 1px 3px 10px grey;
	transform: rotate(-135deg);
	position: fixed;
	top: 395px;
	left: 685px;
	animation: sidebr 1s linear infinite;
}
@keyframes rec {
	0% {
		margin-left: 0%;
	}
	20% {
		margin-left: 20%;
	}
	40% {
		margin-left: 40%;
	}
	60% {
		margin-left: 60%;
	}
	80% {
		margin-left: 80%;
	}
	100% {
		margin-left: 0%;
	}
}
@keyframes rec1 {
	0% {
		margin-left: 0%;
	}
	20% {
		margin-left: 80%;
	}
	40% {
		margin-left: 60%;
	}
	60% {
		margin-left: 40%;
	}
	80% {
		margin-left: 20%;
	}
	100% {
		margin-left: 0%;
	}
}






.cout {
	height: 85px;
	width: 85px;
	border: 5px solid white;
	border-bottom-color: green;
	border-top-color: blue;
	background-color: red;
	border-radius: 50%;
	position: fixed;
	top: 259px;
	left: 628px;
	animation: cen 1s linear infinite;
}


@keyframes cen {
	0% {
		transform: rotate(0deg);
		background: radial-gradient(grey, white, #8e44ad, #f1c40f, powderblue);
	}
	25% {
		transform: rotate(-90deg);
		background: radial-gradient(#8e44ad, white, grey, #f1c40f, powderblue);
	}
	50% {
		transform: rotate(-180deg);
		background: radial-gradient(#f1c40f, white, grey, #8e44ad, powderblue);
	}
	75% {
		transform: rotate(-270deg);
		background: radial-gradient(powderblue, white, grey, #8e44ad, #f1c40f);
	}
	100% {
		transform: rotate(-360deg);
		background: radial-gradient(white, grey, #8e44ad, #f1c40f, powderblue);
	}
}

.cout1 {
	height: 85px;
	width: 85px;
	border: 5px solid white;
	border-bottom-color: green;
	border-top-color: blue;
	background-color: red;
	border-radius: 50%;
	position: fixed;
	top: 90px;
	left: 555px;
	animation: cen 3s linear infinite;
	box-shadow: 1px 3px 10px grey;
}

.cout2 {
	height: 85px;
	width: 85px;
	border: 5px solid white;
	box-shadow: 1px 3px 10px grey;
	border-bottom-color: green;
	border-top-color: blue;
	background-color: red;
	border-radius: 50%;
	position: fixed;
	top: 90px;
	left: 695px;
	animation: cen 3s linear infinite;
}

.cout3 {
	height: 85px;
	width: 85px;
	box-shadow: 1px 3px 10px grey;
	border: 5px solid white;
	border-bottom-color: green;
	border-top-color: blue;
	background-color: red;
	border-radius: 50%;
	position: fixed;
	top: 190px;
	left: 800px;
	animation: cen 3s linear infinite;
}

.cout4 {
	height: 85px;
	width: 85px;
	box-shadow: 1px 3px 10px grey;
	border: 5px solid white;
	border-bottom-color: green;
	border-top-color: blue;
	background-color: red;
	border-radius: 50%;
	position: fixed;
	top: 330px;
	left: 800px;
	animation: cen 3s linear infinite;
}

.cout5 {
	height: 85px;
	width: 85px;
	box-shadow: 1px 3px 10px grey;
	border: 5px solid white;
	border-bottom-color: green;
	border-top-color: blue;
	background-color: red;
	border-radius: 50%;
	position: fixed;
	top: 440px;
	left: 700px;
	animation: cen 3s linear infinite;
}

.cout6 {
	height: 85px;
	width: 85px;
	box-shadow: 1px 3px 10px grey;
	border: 5px solid white;
	border-bottom-color: green;
	border-top-color: blue;
	background-color: red;
	border-radius: 50%;
	position: fixed;
	top: 440px;
	left: 555px;
	animation: cen 3s linear infinite;
}

.cout7 {
	height: 85px;
	width: 85px;
	box-shadow: 1px 3px 10px grey;
	border: 5px solid white;
	border-bottom-color: green;
	border-top-color: blue;
	background-color: red;
	border-radius: 50%;
	position: fixed;
	top: 330px;
	left: 455px;
	animation: cen 3s linear infinite;
}

.cout8 {
	height: 85px;
	width: 85px;
	box-shadow: 1px 3px 10px grey;
	border: 5px solid white;
	border-bottom-color: green;
	border-top-color: blue;
	background-color: red;
	border-radius: 50%;
	position: fixed;
	top: 190px;
	left: 455px;
	animation: cen 3s linear infinite;
}

.content {
	height: 30px;
	width: 50px;
	background-color: blue;
	animation: rec 1s linear infinite;
}


